:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: calc(100vw / 1920 * 10);
  height: 100%;
  width: 100%;
}

body,
html {
  height: 100%;
  font-family: monospace;
  text-transform: uppercase;
  overscroll-behavior: none;
  background: #f8f8f8;
}

body {
  margin: 0;
  width: 100%;
}
.main {
  position: relative;
}

html {
}
